	<section id="fh5co-work" data-section="work">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.work.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.work.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
			{{ range .Site.Params.work.row }}
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<a href="images/{{ .img }}" class="fh5co-project-item image-popup to-animate">
						<img src="images/{{ .img }}" alt="{{ .alt }}" class="img-responsive">
						<div class="fh5co-text">
						<h2>{{ .title }}</h2>
						<span>{{ .subtitle }}</span>
						</div>
					</a>
				</div>				

				<div class="clearfix visible-sm-block"></div>
			{{ end }}
			</div>
			<div class="row">
				<div class="col-md-12 text-center to-animate">
					<p>{{ .Site.Params.work.footertext | markdownify }}</p>
				</div>
			</div>
			<div style="text-align: center;"> 
				<h2 class="to-animate current section-heading" style="color: white; text-align: center; font-size: 50px; margin-bottom: 0; font-family: 'Montserrat', sans-serif;">CURRENT PROJECT</h2>
				<div id="current-card" style="margin-left: auto; margin-right: auto;  text-align: left;">
					<a href="images/dharunalogo.png" class="fh5co-project-item image-popup to-animate">
						<img src="images/dharunalogo.png" alt="" class="img-responsive" width="100%">
						<div class="fh5co-text">
						<h2>Trajectory prediction and Traffic management</h2>
						<br>
						<span style="margin-top: 20px;">Ikshana presents to you - Dharuna, which is an app that helps to regulate the Traffic Light Timings Automatically on the basis of queue length in any specific lane. Dharuna also uses geolocation of its users through an in-built map in the app for regulating the timings of a traffic light, so you don’t have to wait for those extra seconds. </span>
						<br>
						</div>
					</a>
				</div>	
				<a href="https://ikshana-2020.netlify.app/" target="_blank">
					<input id="current-btn" href="https://ikshana-2020.netlify.app/" class="btn btn-default btn-lg to-animate" value="Learn more" type="submit">
				</a>
			</div>
		</div>

		<style scoped>
				#current-card {
					width: 400px;
				}
				#current-btn {
					width: 400px;
				}

			@media (max-width: 600px) {
				#current-card {
					width: 300px;
				}
				#current-btn {
					width: 300px;
				}
			}
		</style>
	</section>
